{% extends 'base.html' %}
{% block title %}
  <title>新闻详情</title>
{% endblock %}
{% block container %}
    <!--主体-->
    <header class="wy-header">
      <div class="wy-header-icon-back"><span></span></div>
      <div class="wy-header-title">新闻详情</div>
    </header>
    <div class="weui-content">
      <article class="weui-article">
        <h1>{{ new_obj.title }}</h1>
        <h3 class="wy-news-time">{{ new_obj.created_at|date }}</h3>
        <section class="wy-news-info">
          <p>
            {{ new_obj.content|safe }}
          </p>
          <p>
            <img src="/static/upload/ban1.jpg" alt="" />
            <img src="/static/upload/ban2.jpg" alt="" />
          </p>
        </section>
      </article>
    </div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="/static/js/jquery.Spinner.js"></script>
{% endblock %}